bin/stpjaHNU filter=lfs diff=lfs merge=lfs -text
bin/clang-check filter=lfs diff=lfs merge=lfs -text
bin/llc filter=lfs diff=lfs merge=lfs -text
bin/clang-extdef-mapping filter=lfs diff=lfs merge=lfs -text
bin/bugpoint filter=lfs diff=lfs merge=lfs -text
bin/lld filter=lfs diff=lfs merge=lfs -text
bin/clang-nvlink-wrapper filter=lfs diff=lfs merge=lfs -text
bin/clang-repl filter=lfs diff=lfs merge=lfs -text
bin/llvm-lto filter=lfs diff=lfs merge=lfs -text
bin/clang-sycl-linker filter=lfs diff=lfs merge=lfs -text
bin/clang-linker-wrapper filter=lfs diff=lfs merge=lfs -text
bin/llvm-c-test filter=lfs diff=lfs merge=lfs -text
bin/clang-22 filter=lfs diff=lfs merge=lfs -text
bin/c-index-test filter=lfs diff=lfs merge=lfs -text
bin/llvm-dwarfutil filter=lfs diff=lfs merge=lfs -text
bin/llvm-gsymutil filter=lfs diff=lfs merge=lfs -text
bin/llvm-ir2vec filter=lfs diff=lfs merge=lfs -text
bin/llvm-split filter=lfs diff=lfs merge=lfs -text
bin/opt filter=lfs diff=lfs merge=lfs -text
bin/clang-scan-deps filter=lfs diff=lfs merge=lfs -text
bin/dsymutil filter=lfs diff=lfs merge=lfs -text
bin/llvm-dwp filter=lfs diff=lfs merge=lfs -text
bin/clang-installapi filter=lfs diff=lfs merge=lfs -text
bin/llvm-exegesis filter=lfs diff=lfs merge=lfs -text
bin/llvm-reduce filter=lfs diff=lfs merge=lfs -text
bin/clang-refactor filter=lfs diff=lfs merge=lfs -text
bin/lli filter=lfs diff=lfs merge=lfs -text
bin/llvm-lto2 filter=lfs diff=lfs merge=lfs -text
lib/libclang-cpp.so.22.1 filter=lfs diff=lfs merge=lfs -text
lib/libLTO.so.22.1 filter=lfs diff=lfs merge=lfs -text
lib/libclang.so.22.1.2 filter=lfs diff=lfs merge=lfs -text
